<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %> Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <%= response.subject %>
    </div>
    <div>
        <%= response.start.dateTime %>
    </div>
    <div>
        <%= response.end.dateTime %>
    </div>
    <div>
        <%= response.location.displayName %>
    </div>
</body>

</html>